service: sync-games

frameworkVersion: "4"

provider:
  name: aws
  runtime: nodejs22.x
  region: us-east-2
  stage: ${opt:stage, 'dev'}
  environment:
    BUCKET_NAME: { Ref: SavesBucket }
    API_KEY: ${env:SYNC_GAMES_API_KEY, ''}
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - s3:GetObject
            - s3:PutObject
            - s3:ListBucket
          Resource:
            - Fn::Sub: "arn:aws:s3:::${SavesBucket}"
            - Fn::Sub: "arn:aws:s3:::${SavesBucket}/*"

build:
  esbuild:
    bundle: true
    sourcemap: true
    target: node20

functions:
  api:
    handler: src/interfaces/lambda/handler.handler
    events:
      - httpApi:
          path: /{proxy+}
          method: ANY
      - httpApi:
          path: /
          method: ANY

resources:
  Resources:
    SavesBucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketEncryption:
          ServerSideEncryptionConfiguration:
            - ServerSideEncryptionByDefault:
                SSEAlgorithm: AES256
        CorsConfiguration:
          CorsRules:
            - AllowedHeaders: ["Content-Type", "x-user-id", "x-api-key"]
              AllowedMethods: [GET, PUT, HEAD]
              AllowedOrigins: ["*"]
